Source: ros-melodic-heron-bringup
Section: misc
Priority: optional
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-heron-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-axis-camera, ros-melodic-heron-base, ros-melodic-lms1xx, ros-melodic-nmea-comms, ros-melodic-nmea-navsat-driver, ros-melodic-robot-upstart (>= 0.1.1)
Description: Provides upstart setup for Heron, and launch files for the standard configuration.
 Also provides configuration for u-blox GPS receiver which is part of Heron's sensor suite.
